@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    #root {
        @apply max-lg:flex-col
    }
    body {
        @apply bg-[#A0D7FF]
        overflow-x-hidden
    }
    #root {
        max-width: 1280px;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5em;
    }
    .container {
        background-image: url('./assets/images/shadow.png');
        background-repeat: no-repeat;
        background-size: cover;
        @apply bg-[#109DFF] rounded-full hover:bg-[#007aff]
    }
    .calculator {
        background: linear-gradient(white, rgba(184, 184, 184, 0.267));
        @apply flex gap-8 flex-col justify-end z-10 px-4 py-4 max-w-[20em] h-full rounded-[40px]
        max-lg:w-[70%]
    }
    .operator{
        background-color: rgba(240, 248, 255, 0.363);
        @apply hover:bg-slate-200 rounded-3xl text-2xl
        text-blue-500 font-semibold py-4 px-2 border border-slate-100
         shadow-inner shadow-current hover:text-blue-700 transition-all
    }
    .numbers{
        background-color: rgba(240, 248, 255, 0.363);
        @apply rounded-3xl text-2xl
        text-white font-semibold py-4 px-2
        shadow-inner shadow-current hover:text-gray-600 transition-all
    }
    p {
        @apply hover:bg-slate-200
    }
    .x6, .x9 {
        background-color: rgba(240, 248, 255, 0.363);
        text-align: center;
        line-height: 2.5em !important;
        transform: rotate(-45deg);
        @apply w-[62px] h-[62px] ml-[15em] mb-8 rounded-2xl font-bold text-white text-2xl;
        animation-name: identifier;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-timing-function: ease;
    }
    .x9 {
        transform: rotate(-70deg);
        @apply m-0 relative left-[-35%] top-20
    }
    .x6:hover, .x9:hover {
        background-color: rgb(123 132 145 / 23%);
    }
    .box, .box2 {
        background-color: #4bb2fca8;
        @apply rounded-[50%] text-2xl h-6 w-6
        text-white hover:bg-blue-500;
        animation-name: backgroundColor;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-timing-function: linear;
    }
    .darkMode {
        @apply  absolute right-[30px] top-[25px] w-9 h-9 p-[7px] 
        rounded-full bg-slate-100 md:border-solid
         border fill-gray-500 hover:fill-blue-600
        cursor-pointer
        hover:md:-rotate-90 transition duration-300 ease-in-out;
    }
    @keyframes identifier {
        from {
            transform: rotate(-360deg);
        } to {
            transform: rotate(0deg);
        }
    }
    @keyframes backgroundColor {
        0% {
            background-color: #fc4ba47c;
        } 
        25% {
            background-color: #109DFF;
        }
        50% {
            background-color: #10ffeb;
        }
        75% {
            background-color: #103cff91;
        }
        100% {
            background-color: #109DFF;
        }
    }
}
@media screen and (max-width: 450px) {
    #root {
      gap: 0;
      padding: 0;
    }
    .flex {
        justify-content: center;
    }
    .x6 {
      margin-left: 13em;
      margin-top: 2em;
    }
    .calculator {
        height: 90%;
        margin-top: 2em;
    }
}
@media screen and (max-width: 412px) {
    body {
        overflow-x: hidden;
    }
    #root {
        gap: 0;
    }
    .container {
        padding-right: 0;
    }
    .x6 {
        margin-left: 13.5em;
        margin-top: 3.5em;
    }
    .text-start {
        text-align: center;
    }
    .design {
        margin-left: 2.5em;
    }
  }
  @media screen and (max-width: 412px) {
      .my-8 {
          margin: 0 auto;
          margin-top: 2em;
          width: 80%;
      }
  }